body {
    background-color: #fcfcfc;
    color: #575757;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
}

footer {
    margin-bottom: 100px;
}

.bg-image {
    width: 100%;
}



.carousel-indicators {
    margin-top: 200px;
}



/* Nav Brand Styling */
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #003049;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

/* Nav Link Styling */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #003049;
    font-family: proxima-nova, sans-serif;
    font-size: 1.2em;
}

/* Form */
.card {
    background-color: #fcfcfc;
    color: #575757;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    
}

.reg-log-card {
    margin-top: 70px;
}


.card h3 {
    text-align: center;
}

.form-outline {
    width: 60%;
    margin: auto;
}

.reg-log-button {
    margin: auto;
    background-color: #FCBF49;
    transition: 0.3s;
}

.reg-log-button:hover {
    background-color: #F77F00;
}

input {
    background-color: #fafafa;
}

.not-reg-link {
    color: #575757;
    text-decoration: underline;
}

.not-reg-link:hover {
    color: #141313;
}

/*------ article template -------*/

.article-topic {
    display: block;
    float: right;
    width: 125px;
    margin-bottom: 10px;
    font-size: 21px;
    text-align: right;
}

.article-image {
    width: 100%
}

.article-data {
    margin-top: 5px;
}

.author-left {
    display: block;
    float: left;
    width: 100px;
    white-space: nowrap;
    font-size: 21px;
}

.published-date-right {
    display: block;
    float: right;
    width: 160px;
    white-space: nowrap;
    text-align: right;
}

/*---- Post Article-----*/

.articles-header {
    text-align: center;
    padding-top: 10px;
}

.article-header-button {
    padding-top: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #003049;
    border-color: #003049;
}

.article-image-card {
    width:  100%;
    height: 250px;
    object-fit: cover;
}

.read-button {
    margin: auto;
    background-color: #003049;
    color: #fcfcfc;
    transition: 0.3s;
}

.read-button:hover {
    background-color: #002f49de;
    color: #fafafa;
}

.create-article {
    background-color: #FCBF49;
    color: #fcfcfc;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.create-article:hover,
.create-article:active {
    background-color: #F77F00;
    color: #fcfcfc;
}



h1, h2, h3, h4, h5, h6, {
    color: #003049;
}

.article-form {
    border: 1px solid #bdbdbd!important;
}

/*-----Profile-----*/


.delete-button {
    margin: auto;
    background-color: #D62828;
    color: #fcfcfc;
    transition: 0.3s;
    float: right;
}

.delete-button:hover {
    background-color: #d62828ce;
    color: #fafafa;
}

.edit-button {
    margin: auto;
    background-color: #f78000;
    color: #fcfcfc;
    transition: 0.3s;
}

.edit-button:hover {
    background-color: #f78000e7;
    color: #fafafa;
}
