{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center">
  <img src="https://ik.imagekit.io/sizql0avpyf/articles-image_SzhWkmxKCf.jpg?updatedAt=1628760942184" srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/articles-image_SzhWkmxKCf.jpg?updatedAt=1628760942184 450w, 
    https://ik.imagekit.io/sizql0avpyf/tr:w-800/articles-image_SzhWkmxKCf.jpg?updatedAt=1628760942184 800w,
    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/articles-image_SzhWkmxKCf.jpg?updatedAt=1628760942184 1400w"
    sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="" class="bg-image">
</div>

<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Community Articles</h1>
  {% if session.user %}
  <h4 class="mb-3">Navigate through our collection of community submitted articles or create your own by clicking the
    button below</h4>
  <a href="{{ url_for('post_article') }}" class="create-article">Post Article <i class="fas fa-plus"></i></a>
  {% else %}
  <h4 class="mb-3">Navigate through our collection of community submitted articles or register to share your own ideas
  </h4>
  <a href="{{ url_for('register') }}" role="button" class="home-call-button">Register Now!</a>
  {% endif %}
</div>


<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3 scroll" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
      aria-controls="ex1-tabs-1" aria-selected="true">All</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"
      aria-selected="false">Development</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3"
      aria-selected="false">Fundamentals</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-4" data-mdb-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4"
      aria-selected="false">Technicals</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-5" data-mdb-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5"
      aria-selected="false">New Project</a>
  </li>

  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-6" data-mdb-toggle="tab" href="#ex1-tabs-6" role="tab" aria-controls="ex1-tabs-6"
      aria-selected="false">News</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-7" data-mdb-toggle="tab" href="#ex1-tabs-7" role="tab" aria-controls="ex1-tabs-7"
      aria-selected="false">Other</a>
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex1-content">
  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">


    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
  <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "Development" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "Fundamentals" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "Technicals" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "New Projects" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="ex1-tabs-6" role="tabpanel" aria-labelledby="ex1-tab-6">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "News" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="ex1-tabs-7" role="tabpanel" aria-labelledby="ex1-tab-7">
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      {% if article.article_topic == "Other" %}
      <div class="col-lg-4 col-md-6 col-sm-8 article-card">
        <div class="card">
          {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
          <div class="card-body">
            <span class="article-card-topic">{{ article.article_topic }}</span>
            <span class="article-date-card">{{ article.article_date }}</span>
            <h5 class="card-title">{{ article.article_title }}</h5>

            <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
          </div>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- Tabs content -->



{% endblock %}