{% extends "base.html" %}

    {% block content %}

    
        
    <br>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <span class="article-topic" id="article-topic">{{ article.article_topic }}</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-10">
                {% if article.article_topic == "Development" %}
                <img src="{{ url_for('static', filename='img/dev-image.jpg') }}" alt="" class="article-image"
                    id="article-image">
                {% elif article.article_topic == "Technicals" %}
                <img src="{{ url_for('static', filename='img/technicals-image.jpg') }}" alt="" class="article-image"
                    id="article-image">
                {% elif article.article_topic == "Fundamentals" %}
                <img src="{{ url_for('static', filename='img/fundamentals-image.jpg') }}" alt="" class="article-image"
                    id="article-image">
                {% elif article.article_topic == "News" %}
                <img src="{{ url_for('static', filename='img/news-image.jpg') }}" alt="" class="article-image"
                    id="article-image">
                {% elif article.article_topic == "Other" %}
                <img src="{{ url_for('static', filename='img/other-image.jpg') }}" alt="" class="article-image"
                    id="article-image">
                {% elif article.article_topic == "New Project" %}
                <img src="{{ url_for('static', filename='img/new=project-image.png') }}" alt="" class="article-image"
                    id="article-image">
                {% else %}
                <img src="{{ url_for('static', filename='img/development-image.jpg') }}" alt="" class="article-image-card"
                    id="article-image">
                {% endif %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-10 article-data">
                <span class="author-left">{{ article.article_author }}</span>
                <span class="published-date-right">{{ article.article_published_datetime }}</span>
            </div>
        </div>
        <br>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-10">
                <div class="article-title text-center">
                    <h1>{{ article.article_title }}</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="article-body">{{ article.article_body | safe }}</div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="comments">
        <h3>Comments</h3>
        <br>
        {% if comments%}
        {% for comment in comments %}

        <div class="comment-div">
            <span class="comment-username"><strong>{{ comment.comment_author }}</strong></span>
            <span class="comment-datetime">{{ comment.comment_published_datetime }}</span>
            <p class="comment-body">{{ comment.comment_body }}</p>
            <span><a href="{{ url_for('delete_modal', article_id=article._id) }}" 
                class="delete-comment" data-mdb-toggle="modal"
                    data-mdb-target="#deleteModal{{ article._id }}">Delete</a></span>
        </div>
        <br><br>

        {% endfor %}
        {% else %}
        <h6>No comments yet...</h6>
        {% endif %}
        

    </div>
    <br>
    {% if session.user %}
    <h3 class="post-comment-header">Post Comment</h3>
    <div class="row g-0 d-flex vertical-center justify-content-center">
        <div class="col">
            <form action="{{ url_for('post_comment', article_id=article._id) }}" method="POST">
                <div class="form-outline ">
                    <textarea id="comment_body" class="form-control article-form" name="comment_body"
                        placeholder="Type comments here..."></textarea>
                </div>
                <br>
                <a type="submit" class="post-comment-button" role="button">Post Comment <i
                        class="fas fa-comment"></i></a>
            </form>
        </div>
    </div>
    {% endif %}
    
    {% endblock %}