{% extends "base.html" %}

    {% block content %}

    
        
    <br>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <span class="article-topic">{{ article.article_topic }}</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-10">
                    <img src="#" alt="" class="article-image">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-10 article-data">
                <span class="author-left">{{ article.article_author }}</span>
                <span class="published-date-right">{{ article.article_published_date }}</span>
            </div>
        </div>
        <br>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-lg-10">
                <div class="article-title text-center">
                    <h1>{{ article.article_title }}</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <p>{{ article.article_body }}</p>
            </div>
        </div>
    </div>
    
    {% endblock %}