{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center">
  <img src="https://ik.imagekit.io/sizql0avpyf/block-home-img-cropped_dH3Q3RcYc.jpg?updatedAt=1628760991842" 
  srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/block-home-img-cropped_dH3Q3RcYc.jpg?updatedAt=1628760991842 450w,
        https://ik.imagekit.io/sizql0avpyf/tr:w-800/block-home-img-cropped_dH3Q3RcYc.jpg?updatedAt=1628760991842 800w,
        https://ik.imagekit.io/sizql0avpyf/tr:w-1400/block-home-img-cropped_dH3Q3RcYc.jpg?updatedAt=1628760991842 1400w" 
        sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" 
    alt="Home Image" class="big-img">
</div>
<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">The Bull Case</h1>
  <h4 class="mb-3">The home of all things crypto from fundamental and technical analysis to development and project
    disucssion. Share your bullish ideas and thoughts with the community</h4>
  {% if session.user %}
  <a href="{{ url_for('post_article') }}" role="button" class="home-call-button">Create Article</a>
  {% else %}
  <a href="{{ url_for('register') }}" role="button" class="home-call-button">Register Now!</a>
  {% endif %}
</div>
<!-- Featured articles -->
<h2 class="featured-articles">Featured Articles</h2>

{% for article in articles %}
<div class="row d-flex justify-content-center">

  <div class="col-lg-8 col-sm-8 article-card">
    <div class="card">
      {% if article.article_topic == "Development" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
        srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                        https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                        https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" 
                        sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Development Image" class="article-image-card-home">
      {% elif article.article_topic == "Technicals" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
        srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w"
                sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image" class="article-image-card-home">
      {% elif article.article_topic == "Fundamentals" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
        srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w"
                sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image" class="article-image-card-home">
      {% elif article.article_topic == "News" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192" srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w"
                sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image" class="article-image-card-home">
      {% elif article.article_topic == "Other" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455" srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w"
                sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image" class="article-image-card-home">
      {% elif article.article_topic == "New Projects" %}
      <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
        srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w"
                sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image" class="article-image-card-home">
      {% else %}
      <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
        srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                        https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                        https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w"
                        sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="" class="article-image-card-home">
      {% endif %}
      <div class="card-body">
        <span class="article-card-topic">{{ article.article_topic }}</span>
        <span class="article-date-card">{{ article.article_date }}</span>
        <h5 class="card-title">{{ article.article_title }}</h5>

        <a href="{{ url_for('view_article', article_id=article._id) }}" class="btn btn-primary read-button">Read</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}





{% endblock %}