{% extends "base.html" %}

    {% block content %}
    <div class="row d-flex justify-content-center">
      <img
        src="{{ url_for('static', filename='img/block-home-img-cropped.jpg') }}"
        alt="" class="big-img">
    </div>
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">The Bull Case</h1>
      <h4 class="mb-3">The home of all things crypto from fundamental and technical analysis to development and project disucssion. Share your bullish ideas and thoughts with the community</h4>
      {% if session.user %}
        <a  href="{{ url_for('post_article') }}" role="button" class="home-call-button">Create Article</a>
      {% else %}
        <a  href="{{ url_for('register') }}" role="button" class="home-call-button">Register Now!</a>
      {% endif %}
    </div>
    <!-- Featured articles -->
    <h2 class="featured-articles">Featured Articles</h2>
    
    <div class="row d-flex justify-content-center">
      {% for article in articles|sort(reverse=true, attribute="article_date") %}
      <div class="col-md-8 article-card">
          <div class="card">
              {% if article.article_topic == "Development" %}
              <img src="{{ url_for('static', filename='img/dev-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% elif article.article_topic == "Technicals" %}
              <img src="{{ url_for('static', filename='img/technicals-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% elif article.article_topic == "Fundamentals" %}
              <img src="{{ url_for('static', filename='img/fundamentals-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% elif article.article_topic == "News" %}
              <img src="{{ url_for('static', filename='img/news-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% elif article.article_topic == "Other" %}
              <img src="{{ url_for('static', filename='img/other-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% elif article.article_topic == "New Projects" %}
              <img src="{{ url_for('static', filename='img/new-project-image.png') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% else %}
              <img src="{{ url_for('static', filename='img/development-image.jpg') }}" alt="" class="article-image-card"
                  id="article-image-card">
              {% endif %}
              <div class="card-body">
                  <span class="article-card-topic">{{ article.article_topic }}</span>
                  <span class="article-date-card">{{ article.article_date }}</span>
                  <h5 class="card-title">{{ article.article_title }}</h5>
  
                  <a href="{{ url_for('view_article', article_id=article._id) }}"
                      class="btn btn-primary read-button">Read</a>
                  <div class="edit-delete-div">
                      <a href="{{ url_for('edit_article', article_id=article._id) }}"
                          class="btn btn-primary edit-button">Edit</a>
                      <a href="{{ url_for('delete_modal', article_id=article._id) }}" 
                      class="btn btn-primary delete-button" data-mdb-toggle="modal"
                          data-mdb-target="#deleteModal{{ article._id }}">Delete</a>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal{{ article._id }}" tabindex="-1" aria-labelledby="deleteModal{{ article._id }}"
                      aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Are You Sure You Want To Delete This Article:</h5>
                                  <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                      aria-label="Close"></button>
                              </div>
                              <div class="modal-body">{{ article.article_title }}</div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary no-thanks-button" data-mdb-dismiss="modal">
                                      No thanks
                                  </button>
                                  <a href="{{ url_for('delete_article', article_id=article._id) }}" class="btn btn-primary yes-delete-button">Yes, Delete</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
    

    


    {% endblock %}
   