{% extends "base.html" %}

    {% block content %}
    <div class="row d-flex justify-content-center">
      <img
        src="https://isg-one.com/images/default-source/default-album/blockchain-use-cases.tmb-th1190-446.jpg?sfvrsn=5fa4cc31_0"
        alt="" class="big-img">
    </div>
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">The Bull Case</h1>
      <h4 class="mb-3">The home of all things crypto from fundamental and technical analysis to development and project disucssion. Share your bullish ideas and thoughts with the community</h4>
      <a class="btn btn-primary reg-log-button" href="{{ url_for('register') }}" role="button">Register Now!</a>
    </div>
    <!-- Jumbotron -->

    


    {% endblock %}
   