{% extends "base.html" %}

{% block content %}
    <div class="row g-0 d-flex vertical-center justify-content-center">
        <form class="col-sm-12 col-md-12 col-lg-10" method="POST" action="{{ url_for('post_article') }}">
            <div class="card create-article-card">
                <div class="card-body text-center">
                    <h3 class="card-title">Share With Us</h3>
                    <br>
                    <p>Share your thoughts, ideas or analysis with The Bull Case community!</p>
                    <br>
                    <div class="form-outline ">
                        <input type="text" id="article_title" class="form-control article-form" name="article_title" maxlength="75" required/>
                        <label class="form-label" for="article_title">Article Title</label>
                    </div>
                    <br>
                    <div class="form-outline">
                        <i class="fas fa-sort-down trailing"></i>
                        <select id="article_topic" name="article_topic" class="form-control article-form" required>
                            <option value="">Choose Topic</option>
                            {% for topic in topics %}
                                <option value="{{ topic.topic_name }}">{{ topic.topic_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="form-outline ">
                            <textarea id="article_body" class="form-control article-form" name="article_body" rows="15"></textarea>
                        <label class="form-label" for="article_body">Type your thoughts...</label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-rounded reg-log-button">Post Article <i
                            class="fas fa-sign-in-alt"></i></button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.tiny.cloud/1/yhghn4p3nhvbvg5lpl8vlcb43t4p5pqlf09w70rgq06n7111/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
{% endblock %}