{% extends "base.html" %}

{% block content %}

<h1>{{ username }}'s Profile</h1>
<h3>Click to Read, Edit or Delete any of your articles here!</h3>
<div class="row">
    {% if articles %}
        {% for article in articles|sort(reverse=true, attribute="article_date") %}
        <div class="col-md-6 col-lg-4 article-card">
            <div class="card">
                {% if article.article_topic == "Development" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px"
            alt="Development Image" class="article-image-card">
          {% elif article.article_topic == "Technicals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/technicals-image_6SS-5k0pe.jpg?updatedAt=1628761421624 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Technical Image"
            class="article-image-card">
          {% elif article.article_topic == "Fundamentals" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/fundamentals-image_ZWYZP9rQy.jpg?updatedAt=1628761450253 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Fundamental Image"
            class="article-image-card">
          {% elif article.article_topic == "News" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/news-image_AyZMjikQ0.jpg?updatedAt=1628761479192 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="News Image"
            class="article-image-card">
          {% elif article.article_topic == "Other" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/other-image_sEit9RgCE.jpg?updatedAt=1628761552455"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/other-image_sEit9RgCE.jpg?updatedAt=1628761552455 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="Other Topic Image"
            class="article-image-card">
          {% elif article.article_topic == "New Projects" %}
          <img src="https://ik.imagekit.io/sizql0avpyf/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 450w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-800/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 800w,
                    https://ik.imagekit.io/sizql0avpyf/tr:w-1400/new-project-image_NEHUzQ-6tr.png?updatedAt=1628761571663 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt="New Projects Image"
            class="article-image-card">
          {% else %}
          <img src="https://ik.imagekit.io/sizql0avpyf/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654"
            srcset="https://ik.imagekit.io/sizql0avpyf/tr:w-450/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 450w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-800/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 800w,
                            https://ik.imagekit.io/sizql0avpyf/tr:w-1400/dev-image_HoZ8c--Ikq.jpg?updatedAt=1628761388654 1400w" sizes="(max-width: 500px) 450px, (max-width: 850px) 800px, 1400px" alt=""
            class="article-image-card">
          {% endif %}
                <div class="card-body">
                    <span class="article-card-topic">{{ article.article_topic }}</span>
                    <span class="article-date-card">{{ article.article_date }}</span>
                    <h5 class="card-title">{{ article.article_title }}</h5>

                    <a href="{{ url_for('view_article', article_id=article._id) }}"
                        class="btn btn-primary read-button">Read</a>
                    <div class="edit-delete-div">
                        <a href="{{ url_for('edit_article', article_id=article._id) }}"
                            class="btn btn-primary edit-button">Edit</a>
                        <a href="{{ url_for('delete_modal', article_id=article._id) }}" 
                        class="btn btn-primary delete-button" data-mdb-toggle="modal"
                            data-mdb-target="#deleteModal{{ article._id }}">Delete</a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ article._id }}" tabindex="-1" aria-labelledby="deleteModal{{ article._id }}"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Are You Sure You Want To Delete This Article:</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">{{ article.article_title }}</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary no-thanks-button" data-mdb-dismiss="modal">
                                        No thanks
                                    </button>
                                    <a href="{{ url_for('delete_article', article_id=article._id) }}" class="btn btn-primary yes-delete-button">Yes, Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="profile-article">
    {% else %}
    <h3>No articles posted yet...</h3> 
    <a  href="{{ url_for('post_article') }}" role="button" class="profile-create-article">Post your first article <i class="fas fa-plus"></i></a>
    {% endif %}
</div>


{% endblock %}